@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
  --color-primary: #90F7F0;

  --color-text-primary: #000000;
  --color-text-secondary: #494A52;

  --color-background: #ffffff;

  --color-black: #000000;
  --color-button-text-primary: #ffffff;
}