

@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
  font-family: "Manrope";
  src: url("../public/fonts/Manrope-VariableFont_wght.ttf");
}*/

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Manrope";
  font-style: semibold;
  font-weight: 600;
  src: url("../public/fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Manrope";
  font-style: bold;
  font-weight: 700;
  src: url("../public/fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
  font-family: "ibm";
  src: url("../public/fonts/IBMPlexSerif-SemiBold.ttf");
}



:root{
  --color-primary: #90F7F0;

  --color-text-primary: #0F172A;
  --color-text-secondary: #A3A3A3;

  --color-text-p: #334155;

  --color-background: #FFFFFF;

  --color-black: #000000;
  --color-button-text-primary: #ffffff;

  --color-border: #000000;
}