
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
  font-family: "Manrope";
  src: url("../public/fonts/Manrope-VariableFont_wght.ttf");
}*/

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-VariableFont_slnt,wght.ttf");
}




:root{
  --color-primary: #90F7F0;

  --color-text-primary: #0F172A;
  --color-text-secondary: #A3A3A3;

  --color-text-p: #334155;

  --color-background: #FAFAFA;

  --color-black: #000000;
  --color-button-text-primary: #ffffff;

  --color-border: #000000;
}